header {
    background-color: tomato;
}
header h1 {
    margin-left:auto;
    margin-right:auto;
}
body {
    background-color: white;
}
main {
    background-color:white;
    padding: 16px;
}
.post {
    margin-bottom: 48px;
}
.photo img {
    border-radius: 13%;
}
.post .user-info img {
    border-radius: 38%;
    
}
main {
    font-family: Raleway;
}
h2 {
    font-family: 'Lato', sans-serif;

}
div {
    color: #40415e
}