<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="/stylesheet/normalize.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato|Raleway">
      <link rel="stylesheet" href="/stylesheets/lib.css">
      <link rel="stylesheet" href="/stylesheets/app.css">
      <title>Samstagram</title>
    </head>
    <body>
        <%= yield %>
    </body>
</html>